body {
  background-color: #264653;
}

.wrapper {
  padding: 1em;
  background-color: #f7fbff;
  margin: 0 auto;
  max-width: 1000px;
}

.heading {
  background-color: #e76f51;
  padding: 1em;
  border-radius: 5px;
}

.title {
  color: white;
  text-align: center;
}

.main-image {
  max-width: 90vw;
  display:block;
  margin: auto;
  max-height: 320px;
  object-fit: cover;
}

.list-anchor {
  color: #264653;
  font-family: sans-serif;
  display: block;
  font-size: 1.25rem;
  padding: .5em;
  margin-bottom: .5em;
  background-color: #f4a261;
  margin-left: auto;
  margin-right: auto;
}