:root {
  --Comfortaa: 'Comfortaa', cursive;
}

body {
  background-color: rgb(54, 54, 54);
}

.wrapper {
  padding: 1em;
  background-color: #f7fbff;
  margin: 0 auto;
  max-width: 1000px;
}

.heading {
  background-color: #e76f51;
  padding: 1em;
  border-radius: 5px;
}

.title {
  font-family: var(--Comfortaa);
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.main-image {
  max-width: 90vw;
  display:block;
  margin: auto;
  max-height: 320px;
  object-fit: cover;
}

.list-anchor {
  color: white;
  font-family: sans-serif;
  display: block;
  font-size: 1.25rem;
  padding: .5em;
  margin-bottom: .5em;
  background-color: #2a9d8f;
  margin-left: auto;
  margin-right: auto;
}